header {
    text-align: center;
    background-color: #f4a226;
    font-family: "Monoton";
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 30px;
    letter-spacing: -5px;
    padding: 2.4rem 0;
}

@media screen and (max-width : 768px) {
    header {
        font-size: 5rem;
    }
}

@media screen and (max-width : 480px) {
    header {
        font-size: 3rem;
    }
}