footer {
    text-align: center;
    font-weight: 700;
    padding: 3.2rem 0;
    background-color: #00bbff;
    font-style: italic;
}

@media screen and (max-width : 480px) {
    footer {
        display: flex;
        justify-content: center;
    }
    footer p {
        width: 90%;
        font-size: 1.6rem;;
    }
}